body {
    font-family: 'Lora', serif;
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 268px;
    height: 33px;
    padding-left: 100%;
    padding-top: 10%;
    justify-content: space-between;
    display: flex;
}

.nav {
    display: flex;
    justify-content: right;
    gap: 30px;
    padding-right: 20%;
    text-decoration: none;
    padding-top: 2%;
    text-align: right;
    
}
.nav a {
    text-decoration: none;
    color:#747474;
    text-align: right;
    display: flex;
}

.nav a:hover{
    color: #00CCB1;
}

#about {
    color:#01B29B;
}

.section1logo {
    height: 40px;
    width: 40px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.section1 {
    padding-top: 3%;
}

.section1 p{
    text-align: center;
    font-size: 40px;
    color: #01B29B
}

.section2 {
        justify-content: center;
        display: flex;
        gap: 20px;
        color: #747474;
}
.p1 {
    padding-left: 20%;
}
.p2 {
    padding-right: 20%;
}

.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    gap: 30px;
    position: relative;
}

.section3-icon1 {
    background-color: #00CCB1;
    height: 380px;
    width: 300px;
    border-radius: 7%;
    display: flex;
    flex-direction: column;
    
}

.section3-icon1 p{
    justify-content: flex-start;
    padding-top: 3%;
    color: white;
}

.section3-icon1 select{
    text-decoration: underline;
    border: none;
    padding-left: 10%;
    background-color: #00CCB1;
    padding-bottom: 5%;
    font-size: 24px;
    color: white;
}

.icon-img {
    padding-top: 5%;
    padding-left: 10%;
}

.icon-img p{
    font-size: 25px;
}

.section3-icon2 {
    background-color: #3D82DE;
    height: 380px;
    width: 300px;
    border-radius: 7%;
}

.section3-icon2 p{
    justify-content: flex-start;
    padding-top: 2%;
    color: white;
}

.section3-icon2 select{
    text-decoration: underline;
    border: none;
    padding-left: 10%;
    background-color: #3D82DE;
    padding-bottom: 5%;
    font-size: 24px;
    color: white;
}    

.section3-icon3 {
    background-color: #1A2734;
    height: 380px;
    width: 300px;
    border-radius: 7%; 
}

.section3-icon3 p{
    justify-content: flex-start;
    padding-top: 3%;
    color: white;
}

.section3-icon3 select{
    text-decoration: underline;
    border: none;
    padding-left: 10%;
    background-color: #1A2734;
    font-size: 24px;
    color: white;
}    

.section4 {
    display: flex;
    align-content: center;
    gap: 20%;
    justify-content: center;
}

.section4-p {

    padding-left: 20%;
    font-size: 25px;
    color: #00CCB1;
}

.section4-icon{
    padding-right: 20%;
    gap: 5%;
}

.section4-icon img{
    width: 40px;
    height: 40px;
    gap: 10%;
} 

.section4-icon .logosm {
    width: 80px;
    height: 15px;
    gap: 10%;
}


.section5 {
    display: flex;
    background-color: #CFFAF4;
    justify-content: center;
    align-items: center;
}



.section5-left {
    padding-top: 5%;
    margin-left: 20%;
    margin-right: 2%;
}



.section5-left h3{
    color: #00CCB1;
    font-size: 25px;
    
}

.section5-right {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 10%;

}

.section5-right1 {
    background-color: white;
    width: 225px;
    justify-content: center;
    margin-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.section5-right2 {
    background-color: white;
    width: 225px;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.section5-right3 {
    background-color: white;
    width: 225px;
    justify-content: center;
    margin-right: 10px;
}

.section5-right4 {
    background-color: white;
    width: 225px;
    justify-content: center;
    margin-right: 10px;
}

.section5 img {
    padding-top: 15%;
}

.section5 h3{
    color: #00CCB1;
}

.section5 p{
    color: #747474;
}

.section6 {
    text-align: center;
    padding-top: 4%;
    padding-left: 37%;
    padding-right: 37%;
}

.section6 h3 {
    color: #00CCB1;
    font-size: 30px;
}

.section6 p{
    color: #747474;
}

.section7 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.section7 button{
    background-color: #3D82DE;
    border-radius: 5%;
    color: white;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    align-items: center;
    margin-top: 15px;


}

.section7 img{
    padding-top: 7px;
    margin-right: 5%;
}

.section7-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1%;
    padding-left: 20%;
    padding-right: 20%;
}

.section7-contents p{
    display: flex;
}

.section7btn {
    display: flex;
}

div .section7btn {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.section7-contents div:hover {
    box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.1);
  }

.section8 {
    text-align: center;
    padding-top: 5%;
}

.section8 h3{
    font-size: 30px;
}

.section8 button{
    background-color: #3D82DE;
    border-radius: 3%;
    color: white;
    padding: 15px 36px;
    text-align: center;
}

.section9 {
    text-align: center;
    padding-top: 5%;
}

.section9-p {
    font-size: 13px;
}

.section9-p a {
    text-decoration: none;
    color: #3D82DE;
}

footer {
    text-align: center;
    color:#747474;
    padding-right: 20%;
    padding-left: 20%;
    font-size: 13px;
    padding-top: 0.2%;
}
